<h3 class="text-center"><img alt="duo&chill" src="img/logo.png" width="90px" height="60px"> - About</h3>

<container id="about" class="col-md-8 center-block">
    <h2>For a League Player’s Perfect Match</h2>

    <p>The majority of our team is comprised of officers of UW’s League of Legends club, the Purple Caster

        Minions. A recurring pain point of our organization has been establishing meaningful connections and a

        sense of community amongst our members outside of the game. Frequently, players engage others

        online, but are never able to put a face to the Summoner name. Duo&Chill encourages and incentivizes

        players to leave the comfort of their home and establish an organic relationship with around a shared

        passion: League of Legends.</p>

        <p>League of Legends is a game that is played by over 70,000,000 unique users a month, yet a large portion

        of the population plays alone. For players that have played by themselves, pangs of loneliness are not

        uncommon. Duo&Chill’s goal is to relieve this sense of isolation through a service that allows players to

        connect with others that live nearby.</p>

        <p>How it works: Players register an account with our service. We utilize the location services of the devices

        that they are using. With that location coupled with the user’s discovery settings, we recommend users

        a list of players that are in their local area.</p>

        <p>Players are given the option to “chill” someone from their list, and if mutual interest is shared between

        the two, the users are then granted access to additional information about that person adn to chat with one another.

        This leads to adding each other and playing League of Legends. Duo&Chill’s success, ultimately, is achieved in

        each positive, in-person connection that is made among players.</p>
</container>